{
  "openapi": "3.0.3",
  "info": {
    "title": "Orders",
    "description": "An order represents a payment between two or more parties. Use the Orders API to create, update, retrieve, authorize, and capture orders.",
    "version": "2.22"
  },
  "servers": [
    {
      "url": "https://api-m.sandbox.paypal.com",
      "description": "PayPal Sandbox Environment"
    }
  ],
  "tags": [
    {
      "name": "orders",
      "description": "Use the `/orders` resource to create, update, retrieve, authorize, capture and track orders."
    }
  ],
  "paths": {
    "/v2/checkout/orders": {
      "post": {
        "summary": "Create order",
        "description": "Creates an order. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see checkout or multiparty checkout. Note: For error handling and troubleshooting, see Orders v2 errors.",
        "operationId": "CreateOrder",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "201": {
            "description": "A successful request returns the HTTP `201 Created` status code and a JSON response body that includes by default a minimal response with the ID, status, and HATEOAS links. If you require the complete order resource representation, you must pass the Prefer: return=representation request header. This header value is not the default.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "PayPal-Mock-Response",
            "in": "header",
            "description": "PayPal's REST API uses a request header to invoke negative testing in the sandbox. This header configures the sandbox into a negative testing state for transactions that include the merchant.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Request-Id",
            "in": "header",
            "description": "The server stores keys for 6 hours. The API callers can request the times to up to 72 hours by speaking to their Account Manager. It is mandatory for all single-step create order calls (E.g. Create Order Request with payment source information like Card, PayPal.vault_id, PayPal.billing_agreement_id, etc).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 108
            }
          },
          {
            "name": "PayPal-Partner-Attribution-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
          {
            "name": "PayPal-Client-Metadata-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "The preferred server response upon successful completion of the request. Value is: return=minimal. The server returns a minimal response to optimize communication between the API caller and the server. A minimal response includes the id, status and HATEOAS links. return=representation. The server returns a complete resource representation, including the current state of the resource.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^[a-zA-Z=,-]*$",
              "default": "return=minimal"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_request"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      }
    },
    "/v2/checkout/orders/{id}": {
      "get": {
        "summary": "Show order details",
        "description": "Shows details for an order, by ID. Note: For error handling and troubleshooting, see Orders v2 errors.",
        "operationId": "GetOrder",
        "responses": {
          "200": {
            "description": "A successful request returns the HTTP `200 OK` status code and a JSON response body that shows order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "PayPal-Mock-Response",
            "in": "header",
            "description": "PayPal's REST API uses a request header to invoke negative testing in the sandbox. This header configures the sandbox into a negative testing state for transactions that include the merchant.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the order for which to show details.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of fields that should be returned for the order. Valid filter field is `payment_source`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z_]*$"
            }
          }
        ],
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      },
      "patch": {
        "summary": "Update order",
        "description": "Updates an order with a `CREATED` or `APPROVED` status. You cannot update an order with the `COMPLETED` status.<br/><br/>To make an update, you must provide a `reference_id`. If you omit this value with an order that contains only one purchase unit, PayPal sets the value to `default` which enables you to use the path: <code>\\\"/purchase_units/@reference_id=='default'/{attribute-or-object}\\\"</code>. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see <a href=\"https://developer.paypal.com/docs/checkout/advanced/processing/\">checkout</a> or <a href=\"https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/\">multiparty checkout</a>.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href=\"https://developer.paypal.com/api/rest/reference/orders/v2/errors/#patch-order\">Orders v2 errors</a>.</blockquote>Patchable attributes or objects:<br/><br/><table><thead><th>Attribute</th><th>Op</th><th>Notes</th></thead><tbody><tr><td><code>intent</code></td><td>replace</td><td></td></tr><tr><td><code>payer</code></td><td>replace, add</td><td>Using replace op for <code>payer</code> will replace the whole <code>payer</code> object with the value sent in request.</td></tr><tr><td><code>purchase_units</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].custom_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].description</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payee.email</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].shipping.name</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.email_address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.phone_number</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.options</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.type</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].soft_descriptor</code></td><td>replace, remove</td><td></td></tr><tr><td><code>purchase_units[].amount</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].items</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].invoice_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.disbursement_mode</code></td><td>replace</td><td>By default, <code>disbursement_mode</code> is <code>INSTANT</code>.</td></tr><tr><td><code>purchase_units[].payment_instruction.payee_receivable_fx_rate_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.platform_fees</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.airline</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.card</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>application_context.client_configuration</code></td><td>replace, add</td><td></td></tr></tbody></table>",
        "operationId": "PatchOrder",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with an empty object in the JSON response body."
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "PayPal-Mock-Response",
            "in": "header",
            "description": "PayPal's REST API uses a request header to invoke negative testing in the sandbox. This header configures the sandbox into a negative testing state for transactions that include the merchant.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the order to update.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patch_request"
        },
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      }
    },
    "/v2/checkout/orders/{id}/confirm-payment-source": {
      "post": {
        "summary": "Confirm the Order",
        "description": "Payer confirms their intent to pay for the the Order with the given payment source.",
        "operationId": "ConfirmOrder",
        "responses": {
          "200": {
            "description": "A successful request indicates that the payment source was added to the Order. A successful request returns the HTTP `200 OK` status code with a JSON response body that shows order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "PayPal-Client-Metadata-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the order for which the payer confirms their intent to pay.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "The preferred server response upon successful completion of the request. Value is: return=minimal. The server returns a minimal response to optimize communication between the API caller and the server. A minimal response includes the id, status and HATEOAS links. return=representation. The server returns a complete resource representation, including the current state of the resource.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^[a-zA-Z=]*$",
              "default": "return=minimal"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/confirm_order_request"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      }
    },
    "/v2/checkout/orders/{id}/authorize": {
      "post": {
        "summary": "Authorize payment for order",
        "description": "Authorizes payment for an order. To successfully authorize payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response. Note: For error handling and troubleshooting, see Orders v2 errors.",
        "operationId": "AuthorizeOrder",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows authorized payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_authorize_response"
                }
              }
            }
          },
          "201": {
            "description": "A successful response to a non-idempotent request returns the HTTP `201 Created` status code with a JSON response body that shows authorized payment details. If a duplicate response is retried, returns the HTTP `200 OK` status code. By default, the response is minimal. If you need the complete resource representation, you must pass the Prefer: return=representation request header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order_authorize_response"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "The authorized payment failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "PayPal-Mock-Response",
            "in": "header",
            "description": "PayPal's REST API uses a request header to invoke negative testing in the sandbox. This header configures the sandbox into a negative testing state for transactions that include the merchant.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Request-Id",
            "in": "header",
            "description": "The server stores keys for 6 hours. The API callers can request the times to up to 72 hours by speaking to their Account Manager. It is mandatory for all single-step create order calls (E.g. Create Order Request with payment source information like Card, PayPal.vault_id, PayPal.billing_agreement_id, etc).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 108
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "The preferred server response upon successful completion of the request. Value is: return=minimal. The server returns a minimal response to optimize communication between the API caller and the server. A minimal response includes the id, status and HATEOAS links. return=representation. The server returns a complete resource representation, including the current state of the resource.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^[a-zA-Z=,-]*$",
              "default": "return=minimal"
            }
          },
          {
            "name": "PayPal-Client-Metadata-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the order for which to authorize.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_authorize_request"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      }
    },
    "/v2/checkout/orders/{id}/capture": {
      "post": {
        "summary": "Capture payment for order",
        "description": "Captures payment for an order. To successfully capture payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response. Note: For error handling and troubleshooting, see Orders v2 errors.",
        "operationId": "CaptureOrder",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows captured payment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "201": {
            "description": "A successful response to a non-idempotent request returns the HTTP `201 Created` status code with a JSON response body that shows captured payment details. If a duplicate response is retried, returns the HTTP `200 OK` status code. By default, the response is minimal. If you need the complete resource representation, pass the Prefer: return=representation request header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed due to missing authorization header, or invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "The authorized payment failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "PayPal-Mock-Response",
            "in": "header",
            "description": "PayPal's REST API uses a request header to invoke negative testing in the sandbox. This header configures the sandbox into a negative testing state for transactions that include the merchant.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PayPal-Request-Id",
            "in": "header",
            "description": "The server stores keys for 6 hours. The API callers can request the times to up to 72 hours by speaking to their Account Manager. It is mandatory for all single-step create order calls (E.g. Create Order Request with payment source information like Card, PayPal.vault_id, PayPal.billing_agreement_id, etc).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 108
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "The preferred server response upon successful completion of the request. Value is: return=minimal. The server returns a minimal response to optimize communication between the API caller and the server. A minimal response includes the id, status and HATEOAS links. return=representation. The server returns a complete resource representation, including the current state of the resource.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^[a-zA-Z=,-]*$",
              "default": "return=minimal"
            }
          },
          {
            "name": "PayPal-Client-Metadata-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the order for which to capture a payment.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_capture_request"
              }
            }
          }
        },
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      }
    },
    "/v2/checkout/orders/{id}/track": {
      "post": {
        "summary": "Add tracking information for an Order.",
        "description": "Adds tracking information for an Order.",
        "operationId": "CreateOrderTracking",
        "responses": {
          "200": {
            "description": "A successful response to an idempotent request returns the HTTP `200 OK` status code with a JSON response body that shows tracker details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "201": {
            "description": "A successful response to a non-idempotent request returns the HTTP `201 Created` status code with a JSON response body that shows tracker details. If a duplicate response is retried, returns the HTTP `200 OK` status code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/order"
                }
              }
            }
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the order that the tracking information is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/order_tracker_request"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      }
    },
    "/v2/checkout/orders/{id}/trackers/{tracker_id}": {
      "patch": {
        "summary": "Update or cancel tracking information for an order",
        "description": "Updates or cancels the tracking information for a PayPal order, by ID. Updatable attributes or objects: Attribute Op Notes items replace Using replace op for items will replace the entire items object with the value sent in request. notify_payer replace, add status replace Only patching status to CANCELLED is currently supported.",
        "operationId": "UpdateOrderTracking",
        "responses": {
          "204": {
            "description": "A successful request returns the HTTP `204 No Content` status code with an empty object in the JSON response body."
          },
          "400": {
            "description": "Request is not well-formed, syntactically incorrect, or violates schema.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "403": {
            "description": "Authorization failed due to insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "422": {
            "description": "The requested action could not be performed, semantically incorrect, or failed business validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "default": {
            "description": "The error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the order that the tracking information is associated with.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "tracker_id",
            "in": "path",
            "description": "The order tracking ID.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "^[A-Z0-9]+$"
            }
          },
          {
            "name": "PayPal-Auth-Assertion",
            "in": "header",
            "description": "An API-caller-provided JSON Web Token (JWT) assertion that identifies the merchant. For details, see PayPal-Auth-Assertion.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patch_request"
        },
        "security": [
          {
            "Oauth2": []
          }
        ],
        "tags": [
          "orders"
        ]
      }
    }
  },
  "components": {
    "requestBodies": {
      "patch_request": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/patch_request"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "type": "oauth2",
        "description": "Oauth 2.0 authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/v1/oauth2/token",
            "x-additional-oauth-fields": {
              "id_token": {
                "description": "An ID token response type is of JSON Web Token (JWT) that contains claims about the identity of the authenticated user.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "account_id": {
        "type": "string",
        "title": "PayPal Account Identifier",
        "description": "The account identifier for a PayPal account.",
        "format": "ppaas_payer_id_v3",
        "minLength": 13,
        "maxLength": 13,
        "pattern": "^[2-9A-HJ-NP-Z]{13}$"
      },
      "account_id-2": {
        "type": "string",
        "description": "The PayPal payer ID, which is a masked version of the PayPal account number intended for use with third parties. The account number is reversibly encrypted and a proprietary variant of Base32 is used to encode the result.",
        "format": "ppaas_payer_id_v3",
        "minLength": 13,
        "maxLength": 13,
        "pattern": "^[2-9A-HJ-NP-Z]{13}$"
      },
      "activity_timestamps": {
        "type": "object",
        "description": "The date and time stamps that are common to authorized payment, captured payment, and refund transactions.",
        "title": "Activity Timestamps",
        "properties": {
          "create_time": {
            "description": "The date and time when the transaction occurred, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true,
            "$ref": "#/components/schemas/date_time"
          },
          "update_time": {
            "description": "The date and time when the transaction was last updated, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "readOnly": true,
            "$ref": "#/components/schemas/date_time"
          }
        }
      },
      "amount_breakdown": {
        "type": "object",
        "description": "The breakdown of the amount. Breakdown provides details such as total item amount, total tax amount, shipping, handling, insurance, and discounts, if any.",
        "title": "Amount Breakdown",
        "properties": {
          "item_total": {
            "description": "The subtotal for all items. Required if the request includes `purchase_units[].items[].unit_amount`. Must equal the sum of `(items[].unit_amount * items[].quantity)` for all items. item_total.value can not be a negative number.",
            "$ref": "#/components/schemas/money"
          },
          "shipping": {
            "description": "The shipping fee for all items within a given `purchase_unit`. shipping.value can not be a negative number.",
            "$ref": "#/components/schemas/money"
          },
          "handling": {
            "description": "The handling fee for all items within a given `purchase_unit`. handling.value can not be a negative number.",
            "$ref": "#/components/schemas/money"
          },
          "tax_total": {
            "description": "The total tax for all items. Required if the request includes `purchase_units.items.tax`. Must equal the sum of `(items[].tax * items[].quantity)` for all items. tax_total.value can not be a negative number.",
            "$ref": "#/components/schemas/money"
          },
          "insurance": {
            "description": "The insurance fee for all items within a given `purchase_unit`. insurance.value can not be a negative number.",
            "$ref": "#/components/schemas/money"
          },
          "shipping_discount": {
            "description": "The shipping discount for all items within a given `purchase_unit`. shipping_discount.value can not be a negative number.",
            "$ref": "#/components/schemas/money"
          },
          "discount": {
            "description": "The discount for all items within a given `purchase_unit`. discount.value can not be a negative number.",
            "$ref": "#/components/schemas/money"
          }
        }
      },
      "amount_with_breakdown": {
        "type": "object",
        "title": "Amount With Breakdown",
        "description": "The total order amount with an optional breakdown that provides details, such as the total item amount, total tax amount, shipping, handling, insurance, and discounts, if any. If you specify `amount.breakdown`, the amount equals `item_total` plus `tax_total` plus `shipping` plus `handling` plus `insurance` minus `shipping_discount` minus discount. The amount must be a positive number. For listed of supported currencies and decimal precision, see the PayPal REST APIs Currency Codes.",
        "allOf": [
          {
            "$ref": "#/components/schemas/money"
          },
          {
            "properties": {
              "breakdown": {
                "$ref": "#/components/schemas/amount_breakdown"
              }
            }
          }
        ]
      },
      "apple_pay": {
        "type": "object",
        "title": "Apple Pay Payment Object",
        "description": "Information needed to pay using ApplePay.",
        "properties": {
          "id": {
            "description": "ApplePay transaction identifier, this will be the unique identifier for this transaction provided by Apple. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 250,
            "pattern": "^.*$"
          },
          "token": {
            "description": "Encrypted ApplePay token, containing card information. This token would be base64encoded. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 10000,
            "pattern": "^.*$"
          },
          "name": {
            "description": "Name on the wallet.",
            "$ref": "#/components/schemas/full_name"
          },
          "email_address": {
            "description": "The email address of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/email_address"
          },
          "phone_number": {
            "description": "The phone number in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en).",
            "type": "object",
            "title": "Phone Number",
            "properties": {
              "national_number": {
                "type": "string",
                "description": "The national number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the country calling code (CC) and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).",
                "minLength": 1,
                "maxLength": 14,
                "pattern": "^[0-9]{1,14}?$"
              }
            },
            "required": [
              "national_number"
            ]
          },
          "card": {
            "description": "The payment card information.",
            "$ref": "#/components/schemas/apple_pay_card_response"
          },
          "attributes": {
            "description": "Additional attributes associated with apple pay.",
            "$ref": "#/components/schemas/apple_pay_attributes_response"
          },
          "stored_credential": {
            "$ref": "#/components/schemas/card_stored_credential"
          }
        }
      },
      "apple_pay_attributes": {
        "type": "object",
        "title": "Apple Pay Attributes",
        "description": "Additional attributes associated with apple pay.",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/customer"
          },
          "vault": {
            "$ref": "#/components/schemas/v3_vault_instruction_base"
          }
        }
      },
      "apple_pay_attributes_response": {
        "type": "object",
        "title": "Apple Pay Attributes Response",
        "description": "Additional attributes associated with the use of Apple Pay.",
        "properties": {
          "vault": {
            "$ref": "#/components/schemas/vault_response"
          }
        }
      },
      "apple_pay_card_response": {
        "type": "object",
        "title": "Apple Pay Card Response",
        "description": "The Card from Apple Pay Wallet used to fund the payment.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The card holder's name as it appears on the card.",
            "minLength": 2,
            "maxLength": 300
          },
          "last_digits": {
            "type": "string",
            "description": "The last digits of the payment card.",
            "pattern": "[0-9]{2,}",
            "readOnly": true
          },
          "brand": {
            "description": "The card brand or network. Typically used in the response.",
            "readOnly": true,
            "$ref": "#/components/schemas/card_brand"
          },
          "available_networks": {
            "$ref": "#/components/schemas/card_brand_list"
          },
          "type": {
            "description": "The payment card type.",
            "$ref": "#/components/schemas/card_type"
          },
          "authentication_result": {
            "$ref": "#/components/schemas/authentication_response"
          },
          "attributes": {
            "$ref": "#/components/schemas/card_attributes_response"
          },
          "from_request": {
            "$ref": "#/components/schemas/card_from_request"
          },
          "expiry": {
            "description": "The card expiration year and month, in [Internet date format](https://tools.ietf.org/html/rfc3339#section-5.6).",
            "$ref": "#/components/schemas/date_year_month"
          },
          "bin_details": {
            "description": "Bank Identification Number (BIN) details used to fund a payment.",
            "$ref": "#/components/schemas/bin_details"
          },
          "stored_credential": {
            "$ref": "#/components/schemas/card_stored_credential"
          },
          "billing_address": {
            "description": "The portable international postal address. Maps to [AddressValidationMetadata](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata) and HTML 5.1 [Autofilling form controls: the autocomplete attribute](https://www.w3.org/TR/html51/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute).",
            "type": "object",
            "title": "Address",
            "properties": {
              "address_line_1": {
                "type": "string",
                "description": "The first line of the address, such as number and street, for example, `173 Drury Lane`. Needed for data entry, and Compliance and Risk checks. This field needs to pass the full address.",
                "maxLength": 300
              },
              "address_line_2": {
                "type": "string",
                "description": "The second line of the address, for example, a suite or apartment number.",
                "maxLength": 300
              },
              "admin_area_2": {
                "type": "string",
                "description": "A city, town, or village. Smaller than `admin_area_level_1`.",
                "maxLength": 120
              },
              "admin_area_1": {
                "type": "string",
                "description": "The highest-level sub-division in a country, which is usually a province, state, or ISO-3166-2 subdivision. This data is formatted for postal delivery, for example, `CA` and not `California`. Value, by country, is: UK. A county. US. A state. Canada. A province. Japan. A prefecture. Switzerland. A *kanton*.",
                "maxLength": 300
              },
              "postal_code": {
                "type": "string",
                "description": "The postal code, which is the ZIP code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code).",
                "maxLength": 60
              },
              "country_code": {
                "$ref": "#/components/schemas/country_code"
              }
            },
            "required": [
              "country_code"
            ]
          },
          "country_code": {
            "$ref": "#/components/schemas/country_code-2",
            "description": "The country where the card is issued."
          }
        }
      },
      "apple_pay_decrypted_token_data": {
        "type": "object",
        "title": "Apple Pay Decrypted Token Data",
        "description": "Information about the Payment data obtained by decrypting Apple Pay token.",
        "properties": {
          "transaction_amount": {
            "description": "The transaction amount for the payment that the payer has approved on apple platform.",
            "$ref": "#/components/schemas/money"
          },
          "tokenized_card": {
            "description": "The payment card to use to fund a payment. Can be a credit or debit card.",
            "type": "object",
            "title": "Apple Pay Tokenized Card",
            "properties": {
              "name": {
                "type": "string",
                "description": "The card holder's name as it appears on the card.",
                "maxLength": 300,
                "minLength": 1,
                "pattern": "^.{1,300}$"
              },
              "number": {
                "type": "string",
                "description": "The primary account number (PAN) for the payment card.",
                "pattern": "^[0-9]{13,19}$",
                "minLength": 13,
                "maxLength": 19
              },
              "expiry": {
                "description": "The card expiration year and month, in [Internet date format](https://tools.ietf.org/html/rfc3339#section-5.6) For example: 2028-04",
                "$ref": "#/components/schemas/date_year_month"
              },
              "card_type": {
                "description": "The card brand or network. Typically used in the response.",
                "readOnly": true,
                "$ref": "#/components/schemas/card_brand",
                "deprecated": true
              },
              "type": {
                "description": "The payment card type.",
                "$ref": "#/components/schemas/card_type"
              },
              "brand": {
                "description": "The card brand or network. Typically used in the response.",
                "$ref": "#/components/schemas/card_brand"
              },
              "billing_address": {
                "description": "The portable international postal address. Maps to [AddressValidationMetadata](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata) and HTML 5.1 [Autofilling form controls: the autocomplete attribute](https://www.w3.org/TR/html51/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute).",
                "type": "object",
                "title": "Address",
                "properties": {
                  "address_line_1": {
                    "type": "string",
                    "description": "The first line of the address, such as number and street, for example, `173 Drury Lane`. Needed for data entry, and Compliance and Risk checks. This field needs to pass the full address.",
                    "maxLength": 300
                  },
                  "address_line_2": {
                    "type": "string",
                    "description": "The second line of the address, for example, a suite or apartment number.",
                    "maxLength": 300
                  },
                  "admin_area_2": {
                    "type": "string",
                    "description": "A city, town, or village. Smaller than `admin_area_level_1`.",
                    "maxLength": 120
                  },
                  "admin_area_1": {
                    "type": "string",
                    "description": "The highest-level sub-division in a country, which is usually a province, state, or ISO-3166-2 subdivision. This data is formatted for postal delivery, for example, `CA` and not `California`. Value, by country, is: UK. A county. US. A state. Canada. A province. Japan. A prefecture. Switzerland. A *kanton*.",
                    "maxLength": 300
                  },
                  "postal_code": {
                    "type": "string",
                    "description": "The postal code, which is the ZIP code or equivalent. Typically required for countries with a postal code or an equivalent. See [postal code](https://en.wikipedia.org/wiki/Postal_code).",
                    "maxLength": 60
                  },
                  "country_code": {
                    "$ref": "#/components/schemas/country_code"
                  }
                },
                "required": [
                  "country_code"
                ]
              }
            }
          },
          "device_manufacturer_id": {
            "description": "Apple Pay Hex-encoded device manufacturer identifier. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          },
          "payment_data_type": {
            "description": "Indicates the type of payment data passed, in case of Non China the payment data is 3DSECURE and for China it is EMV.",
            "type": "string",
            "minLength": 1,
            "maxLength": 16,
            "pattern": "^[0-9A-Z_]+$",
            "enum": [
              "3DSECURE",
              "EMV"
            ],
            "x-enum-elements": [
              {
                "name": "3DSECURE",
                "description": "The card was authenticated using 3D Secure (3DS) authentication scheme. While using this value make sure to populate cryptogram and eci_indicator as part of payment data.."
              },
              {
                "name": "EMV",
                "description": "The card was authenticated using EMV method, which is applicable for China. While using this value make sure to pass emv_data and pin as part of payment data."
              }
            ],
            "title": "Apple Pay Payment Data Type"
          },
          "payment_data": {
            "description": "Apple Pay payment data object which contains the cryptogram, eci_indicator and other data.",
            "$ref": "#/components/schemas/apple_pay_payment_data"
          }
        },
        "required": [
          "tokenized_card"
        ]
      },
      "apple_pay_experience_context": {
        "type": "object",
        "title": "Apple Pay Experience Context",
        "description": "Customizes the payer experience during the approval process for the payment.",
        "properties": {
          "return_url": {
            "description": "The URL where the customer is redirected after the customer approves the payment.",
            "format": "uri",
            "$ref": "#/components/schemas/url"
          },
          "cancel_url": {
            "description": "The URL where the customer is redirected after the customer cancels the payment.",
            "format": "uri",
            "$ref": "#/components/schemas/url"
          }
        },
        "required": [
          "return_url",
          "cancel_url"
        ]
      },
      "apple_pay_payment_data": {
        "type": "object",
        "title": "Apple Pay Payment Data",
        "description": "Information about the decrypted apple pay payment data for the token like cryptogram, eci indicator.",
        "properties": {
          "cryptogram": {
            "description": "Online payment cryptogram, as defined by 3D Secure. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          },
          "eci_indicator": {
            "description": "ECI indicator, as defined by 3- Secure. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 256,
            "pattern": "^.*$"
          },
          "emv_data": {
            "description": "Encoded Apple Pay EMV Payment Structure used for payments in China. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          },
          "pin": {
            "description": "Bank Key encrypted Apple Pay PIN. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "pattern": "^.*$"
          }
        }
      },
      "apple_pay_request": {
        "type": "object",
        "title": "Apple Pay Request",
        "description": "Information needed to pay using ApplePay.",
        "properties": {
          "id": {
            "description": "ApplePay transaction identifier, this will be the unique identifier for this transaction provided by Apple. The pattern is defined by an external party and supports Unicode.",
            "type": "string",
            "minLength": 1,
            "maxLength": 250,
            "pattern": "^.*$"
          },
          "name": {
            "description": "Name on the account holder associated with apple pay.",
            "$ref": "#/components/schemas/full_name"
          },
          "email_address": {
            "description": "The email address of the account holder associated with apple pay.",
            "$ref": "#/components/schemas/email_address"
          },
          "phone_number": {
            "description": "The phone number in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en).",
            "type": "object",
            "title": "Phone Number",
            "properties": {
              "national_number": {
                "type": "string",
                "description": "The national number, in its canonical international [E.164 numbering plan format](https://www.itu.int/rec/T-REC-E.164/en). The combined length of the country calling code (CC) and the national number must not be greater than 15 digits. The national number consists of a national destination code (NDC) and subscriber number (SN).",
                "minLength": 1,
                "maxLength": 14,
                "pattern": "^[0-9]{1,14}?$"
              }
            },
            "required": [
              "national_number"
            ]
          },
          "decrypted_token": {
            "description": "The decrypted payload details for the apple pay token.",
            "$ref": "#/components/schemas/apple_pay_decrypted_token_data"
          },
          "stored_credential": {
            "$ref": "#/components/schemas/card_stored_credential"
          },
          "vault_id": {
            "description": "The PayPal-generated ID for the saved apple pay payment_source. This ID should be stored on the merchant's server so the saved payment source can be used for future transactions.",
            "$ref": "#/components/schemas/vault_id"
          },
          "attributes": {
            "$ref": "#/components/schemas/apple_pay_attributes"
          },
          "experience_context": {
            "$ref": "#/components/schemas/apple_pay_experience_context"
          }
        }
      },
      "assurance_details": {
        "type": "object",
        "title": "Assurance Details",
        "description": "Information about cardholder possession validation and cardholder identification and verifications (ID&V).",
        "properties": {
          "account_verified": {
            "description": "If true, indicates that Cardholder possession validation has been performed on returned payment credential.",
            "type": "boolean",
            "default": false
          },
          "card_holder_authenticated": {
            "description": "If true, indicates that identification and verifications (ID&V) was performed on the returned payment credential.If false, the same risk-based authentication can be performed as you would for card transactions. This risk-based authentication can include, but not limited to, step-up with 3D Secure protocol if applicable.",
            "type": "boolean",
            "default": false
          }
        }
      },
      "authentication_response": {
        "type": "object",
        "title": "Authentication Response",
        "description": "Results of Authentication such as 3D Secure.",
        "properties": {
          "liability_shift": {
            "$ref": "#/components/schemas/liability_shift"
          },
          "three_d_secure": {
            "$ref": "#/components/schemas/three_d_secure_authentication_response"
          }
        }
      },
      "authorization": {
        "type": "object",
        "title": "Authorization",
        "description": "The authorized payment transaction.",
        "allOf": [
          {
            "$ref": "#/components/schemas/authorization_status"
          },
          {
            "properties": {
              "id": {
                "description": "The PayPal-generated ID for the authorized payment.",
                "type": "string",
                "readOnly": true
              },
              "amount": {
                "description": "The amount for this authorized payment.",
                "$ref": "#/components/schemas/money",
                "readOnly": true
              },
              "invoice_id": {
                "description": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives.",
                "type": "string",
                "readOnly": true
              },
              "custom_id": {
                "type": "string",
                "description": "The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports.",
                "maxLength": 255
              },
              "network_transaction_reference": {
                "$ref": "#/components/schemas/network_transaction_reference"
              },
              "seller_protection": {
                "$ref": "#/components/schemas/seller_protection",
                "readOnly": true
              },
              "expiration_time": {
                "description": "The date and time when the authorized payment expires, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).",
                "$ref": "#/components/schemas/date_time",
                "readOnly": true
              },
              "links": {
                "$ref": "#/components/schemas/authorization_definitions-link_description_list"
              }
            }
          },
          {
            "$ref": "#/components/schemas/activity_timestamps"
          }
        ]
      },
      "authorization_definitions-link_description_list": {
        "description": "An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).",
        "type": "array",
        "readOnly": true,
        "items": {
          "$ref": "#/components/schemas/link_description"
        }
      },
      "authorization_status": {
        "type": "object",
        "title": "Authorization Status With Details",
        "description": "The status fields and status details for an authorized payment.",
        "properties": {
          "status": {
            "title": "Authorization Status",
            "description": "The status for the authorized payment.",
            "type": "string",
            "readOnly": true,
            "enum": [
              "CREATED",
              "CAPTURED",
              "DENIED",
              "PARTIALLY_CAPTURED",
              "VOIDED",
              "PENDING"
            ],
            "x-enum-elements": [
              {
                "name": "CREATED",
                "description": "The authorized payment is created. No captured payments have been made for this authorized payment."
              },
              {
                "name": "CAPTURED",
                "description": "The authorized payment has one or more captures against it. The sum of these captured payments is greater than the amount of the original authorized payment."
              },
              {
                "name": "DENIED",
                "description": "PayPal cannot authorize funds for this authorized payment."
              },
              {
                "name": "PARTIALLY_CAPTURED",
                "description": "A captured payment was made for the authorized payment for an amount that is less than the amount of the original authorized payment."
              },
              {
                "name": "VOIDED",
                "description": "The authorized payment was voided. No more captured payments can be made against this authorized payment."
              },
              {
                "name": "PENDING",
                "description": "The created authorization is in pending state. For more information, see status.details."
              }
            ]
          },
          "status_details": {
            "description": "The details of the authorized order pending status.",
            "readOnly": true,
            "$ref": "#/components/schemas/authorization_status_details"
          }
        }
      },
      "authorization_status_details": {
        "title": "Authorization Status Details",
        "description": "The details of the authorized payment status.",
        "type": "object",
        "properties": {
          "reason": {
            "title": "Authorization Incomplete Reason",
            "description": "The reason why the authorized status is `PENDING`.",
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Z_]+$",
            "enum": [
              "PENDING_REVIEW",
              "DECLINED_BY_RISK_FRAUD_FILTERS"
            ],
            "x-enum-elements": [
              {
                "name": "PENDING_REVIEW",
                "description": "Authorization is pending manual review."
              },
              {
                "name": "DECLINED_BY_RISK_FRAUD_FILTERS",
                "description": "Risk Filter set by the payee failed for the transaction."
              }
            ]
          }
        }
      },
      "authorization_with_additional_data": {
        "type": "object",
        "title": "Authorization With Additional Data",
        "description": "The authorization with additional payment details, such as risk assessment and processor response. These details are populated only for certain payment methods.",
        "allOf": [
          {
            "$ref": "#/components/schemas/authorization"
          },
          {
            "properties": {
              "processor_response": {
                "$ref": "#/components/schemas/processor_response",
                "description": "The processor response for card transactions.",
                "readOnly": true
              }
            }
          }
        ]
      },
      "authorization_with_additional_data_list": {
        "type": "array",
        "description": "An array of authorized payments for a purchase unit. A purchase unit can have zero or more authorized payments.",
        "items": {
          "$ref": "#/components/schemas/authorization_with_additional_data"
        }
      },
      "bancontact": {
        "type": "object",
        "title": "Bancontact Payment Object",
        "description": "Information used to pay Bancontact.",
        "properties": {
          "name": {
            "description": "The name of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/full_name"
          },
          "country_code": {
            "description": "The two-character ISO 3166-1 country code.",
            "$ref": "#/components/schemas/country_code-2"
          },
          "bic": {
            "description": "The bank identification code (BIC).",
            "$ref": "#/components/schemas/bic"
          },
          "iban_last_chars": {
            "$ref": "#/components/schemas/iban_last_chars"
          },
          "card_last_digits": {
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "pattern": "[0-9]{4}",
            "description": "The last digits of the card used to fund the Bancontact payment."
          }
        }
      },
      "bancontact_request": {
        "type": "object",
        "title": "Bancontact Payment Request",
        "description": "Information needed to pay using Bancontact.",
        "properties": {
          "name": {
            "description": "The name of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/full_name"
          },
          "country_code": {
            "description": "The two-character ISO 3166-1 country code.",
            "$ref": "#/components/schemas/country_code-2"
          },
          "experience_context": {
            "description": "Customizes the payer experience during the approval process for the payment.",
            "$ref": "#/components/schemas/experience_context_base"
          }
        },
        "required": [
          "name",
          "country_code"
        ]
      },
      "bic": {
        "type": "string",
        "title": "BIC",
        "description": "The business identification code (BIC). In payments systems, a BIC is used to identify a specific business, most commonly a bank.",
        "minLength": 8,
        "maxLength": 11,
        "pattern": "^[A-Z-a-z0-9]{4}[A-Z-a-z]{2}[A-Z-a-z0-9]{2}([A-Z-a-z0-9]{3})?$"
      },
      "billing_agreement_id": {
        "type": "string",
        "description": "The PayPal billing agreement ID. References an approved recurring payment for goods or services.",
        "minLength": 2,
        "maxLength": 128,
        "pattern": "^[a-zA-Z0-9-]+$"
      },
      "billing_cycle": {
        "title": "Billing Cycle",
        "description": "The billing cycle providing details of the billing frequency, amount, duration and if the billing cycle is a free, discounted or regular billing cycle. The sequence of the billing cycle will be in the following order - free trial billing cycle(s), discounted trial billing cycle(s), regular billing cycle(s).",
        "type": "object",
        "properties": {
          "tenure_type": {
            "type": "string",
            "description": "The tenure type of the billing cycle identifies if the billing cycle is a trial(free or discounted) or regular billing cycle.",
            "minLength": 1,
            "maxLength": 24,
            "pattern": "^[A-Z_]+$",
            "enum": [
              "REGULAR",
              "TRIAL"
            ],
            "x-enum-elements": [
              {
                "name": "REGULAR",
                "description": "A regular billing cycle to identify recurring charges for the billing agreement."
              },
              {
                "name": "TRIAL",
                "description": "A trial billing cycle to identify free or discounted charge for the billing agreement. Free trails will not have a price object in pricing scheme where as a discounted trial would have a discounted price compared to regular billing cycle."
              }
            ],
            "title": "Tenure Type"
          },
          "pricing_scheme": {
            "description": "The active pricing scheme for this billing cycle. A free trial billing cycle does not require a pricing scheme.",
            "$ref": "#/components/schemas/pricing_scheme"
          },
          "frequency": {
            "description": "The frequency details for this billing cycle."
          },
          "total_cycles": {
            "type": "integer",
            "description": "The number of times this billing cycle gets executed. Trial billing cycles can only be executed a finite number of times (value between 1 and 999 for total_cycles). Regular billing cycles can be executed infinite times (value of 0 for total_cycles) or a finite number of times (value between 1 and 999 for total_cycles).",
            "minimum": 0,
            "maximum": 999,
            "default": 1,
            "format": "int32"
          },
          "sequence": {
            "type": "integer",
            "description": "The order in which this cycle is to run among other billing cycles. For example, a trial billing cycle has a `sequence` of `1` while a regular billing cycle has a `sequence` of `2`, so that trial cycle runs before the regular cycle.",
            "minimum": 1,
            "maximum": 3,
            "default": 1,
            "format": "int32"
          },
          "start_date": {
            "description": "The start date for the billing cycle, in YYYY-MM-DD. This field should be not be provided if the billing cycle starts at the time of checkout. When this field is not provided, the billing cycle amount will be included in any data validations confirming that the total provided by the merchant match the sum of individual items due at the time of checkout. Only one billing cycle (with sequence equal to 1) can have a no start date.",
            "$ref": "#/components/schemas/date_no_time"
          }
        },
        "required": [
          "tenure_type"
        ]
      },
      "billing_cycle_list": {
        "type": "array",
        "description": "An array of billing cycles for trial billing and regular billing. A plan can have at most two trial cycles and only one regular cycle.",
        "minItems": 1,
        "maxItems": 3,
        "items": {
          "$ref": "#/components/schemas/billing_cycle"
        }
      },
      "bin_details": {
        "type": "object",
        "title": "Bin Details",
        "description": "Bank Identification Number (BIN) details used to fund a payment.",
        "properties": {
          "bin": {
            "type": "string",
            "description": "The Bank Identification Number (BIN) signifies the number that is being used to identify the granular level details (except the PII information) of the card.",
            "pattern": "^[0-9]+$",
            "maxLength": 25,
            "minLength": 1
          },
          "issuing_bank": {
            "type": "string",
            "description": "The issuer of the card instrument.",
            "minLength": 1,
            "maxLength": 64
          },
          "bin_country_code": {
            "description": "The [two-character ISO-3166-1 country code](/docs/integration/direct/rest/country-codes/) of the bank.",
            "$ref": "#/components/schemas/country_code-2"
          },
          "products": {
            "$ref": "#/components/schemas/products_list"
          }
        }
      },
      "blik": {
        "type": "object",
        "title": "BLIK Payment Object",
        "description": "Information used to pay using BLIK.",
        "properties": {
          "name": {
            "description": "The name of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/full_name"
          },
          "country_code": {
            "description": "The two-character ISO 3166-1 country code.",
            "$ref": "#/components/schemas/country_code-2"
          },
          "email": {
            "description": "The email address of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/email_address"
          },
          "one_click": {
            "description": "The one-click integration flow object.",
            "$ref": "#/components/schemas/blik_one_click_response"
          }
        }
      },
      "blik_experience_context": {
        "type": "object",
        "title": "BLIK Experience Context",
        "description": "Customizes the payer experience during the approval process for the BLIK payment.",
        "allOf": [
          {
            "$ref": "#/components/schemas/experience_context_base"
          },
          {
            "properties": {
              "consumer_ip": {
                "description": "The IP address of the consumer. It could be either IPv4 or IPv6.",
                "$ref": "#/components/schemas/ip_address"
              },
              "consumer_user_agent": {
                "type": "string",
                "description": "The payer's User Agent. For example, Mozilla/5.0 (Macintosh; Intel Mac OS X x.y; rv:42.0).",
                "minLength": 1,
                "maxLength": 256,
                "pattern": "^.*$"
              }
            }
          }
        ]
      },
      "blik_one_click": {
        "type": "object",
        "title": "BLIK One-Click Payment Request",
        "description": "Information used to pay using BLIK one-click flow.",
        "properties": {
          "auth_code": {
            "type": "string",
            "description": "The 6-digit code used to authenticate a consumer within BLIK.",
            "minLength": 6,
            "maxLength": 6,
            "pattern": "^[0-9]{6}$"
          },
          "consumer_reference": {
            "type": "string",
            "description": "The merchant generated, unique reference serving as a primary identifier for accounts connected between Blik and a merchant.",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[ -~]{3,64}$"
          },
          "alias_label": {
            "type": "string",
            "description": "A bank defined identifier used as a display name to allow the payer to differentiate between multiple registered bank accounts.",
            "minLength": 8,
            "maxLength": 35,
            "pattern": "^[ -~]{8,35}$"
          },
          "alias_key": {
            "type": "string",
            "description": "A Blik-defined identifier for a specific Blik-enabled bank account that is associated with a given merchant. Used only in conjunction with a Consumer Reference.",
            "minLength": 1,
            "maxLength": 19,
            "pattern": "^[0-9]+$"
          }
        },
        "required": [
          "consumer_reference"
        ]
      },
      "blik_one_click_response": {
        "type": "object",
        "title": "BLIK One-Click Payment Object",
        "description": "Information used to pay using BLIK one-click flow.",
        "properties": {
          "consumer_reference": {
            "type": "string",
            "description": "The merchant generated, unique reference serving as a primary identifier for accounts connected between Blik and a merchant.",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[ -~]{3,64}$"
          }
        }
      },
      "blik_request": {
        "type": "object",
        "title": "BLIK Payment Request",
        "description": "Information needed to pay using BLIK.",
        "properties": {
          "name": {
            "description": "The name of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/full_name"
          },
          "country_code": {
            "description": "The two-character ISO 3166-1 country code.",
            "$ref": "#/components/schemas/country_code-2"
          },
          "email": {
            "description": "The email address of the account holder associated with this payment method.",
            "$ref": "#/components/schemas/email_address"
          },
          "experience_context": {
            "description": "Customizes the payer experience during the approval process for the payment.",
            "$ref": "#/components/schemas/blik_experience_context"
          },
          "level_0": {
            "description": "The level_0 integration flow object.",
            "$ref": "#/components/schemas/blik_seamless"
          },
          "one_click": {
            "description": "The one-click integration flow object.",
            "$ref": "#/components/schemas/blik_one_click"
          }
        },
        "required": [
          "name",
          "country_code"
        ]
      },
      "blik_seamless": {
        "type": "object",
        "title": "BLIK Level_0 Payment Object",
        "description": "Information used to pay using BLIK level_0 flow.",
        "properties": {
          "auth_code": {
            "type": "string",
            "description": "The 6-digit code used to authenticate a consumer within BLIK.",
            "minLength": 6,
            "maxLength": 6,
            "pattern": "^[0-9]{6}$"
          }
        },
        "required": [
          "auth_code"
        ]
      },
      "callback_configuration": {
        "type": "object",
        "title": "Callback Configuration",
        "description": "CallBack Configuration that the merchant can provide to PayPal/Venmo.",
        "properties": {
          "callback_events": {
            "$ref": "#/components/schemas/callback_events_list"
          },
          "callback_url": {
            "type": "string",
            "description": "Merchant provided CallBack url.PayPal/Venmo will use this url to call the merchant back when the events occur .PayPal/Venmo expects a secured url usually in the https format.merchant can append the cart id or other params part of the url as query or path params.",
            "minLength": 10,
            "maxLength": 2040,
            "pattern": "^.*$",
            "format": "uri"
          }
        },
        "required": [
          "callback_events",
          "callback_url"
        ]
      },
      "callback_events": {
        "type": "string",
        "minLength": 1,
        "maxLength": 256,
        "pattern": "^[0-9A-Z_]+$",
        "description": "CallBack event.",
        "enum": [
          "SHIPPING_ADDRESS",
          "SHIPPING_OPTIONS"
        ],
        "title": "Callback Events",
        "x-enum-elements": [
          {
            "name": "SHIPPING_ADDRESS",
            "description": "When Buyer changes or selects the shipping address on the PayPal/Venmo buyer approval flow , PayPal/Venmo will call merchant with the callback URL to update order totals."
          },
          {
            "name": "SHIPPING_OPTIONS",
            "description": "When Buyer changes or selects the shipping options on the PayPal/Venmo buyer approval flow , PayPal/Venmo will call merchant with the callback URL to update order totals."
          }
        ]
      },
      "callback_events_list": {
        "type": "array",
        "description": "An array of callback events merchant can subscribe to for the corresponding callback url.",
        "minItems": 1,
        "maxItems": 5,
        "uniqueItems": true,
        "items": {
          "$ref": "#/components/schemas/callback_events"
        }
      },
      "capture": {
        "type": "object",
        "title": "Orders Capture",
        "description": "A captured payment.",
        "allOf": [
          {
            "$ref": "#/components/schemas/capture_status"
          },
          {
            "properties": {
              "id": {
                "description": "The PayPal-generated ID for the captured payment.",
                "type": "string",
                "readOnly": true
              },
              "amount": {
                "description": "The amount for this captured payment.",
                "$ref": "#/components/schemas/money",
                "readOnly": true
              },
              "invoice_id": {
                "description": "The API caller-provided external invoice number for this order. Appears in both the payer's transaction history and the emails that the payer receives.",
                "type": "string",
                "readOnly": true
              },
              "custom_id": {
                "type": "string",
                "description": "The API caller-provided external ID. Used to reconcile API caller-initiated transactions with PayPal transactions. Appears in transaction and settlement reports.",
                "maxLength": 255
              },
              "network_transaction_reference": {
                "$ref": "#/components/schemas/network_transaction_reference"
              },
              "seller_protection": {
                "$ref": "#/components/schemas/seller_protection",
                "readOnly": true
              },
              "final_capture": {
                "description": "Indicates whether you can make additional captures against the authorized payment. Set to `true` if you do not intend to capture additional payments against the authorization. Set to `false` if you intend to capture additional payments against the authorization.",
                "type": "boolean",
                "default": false,
                "readOnly": true
              },
              "seller_receivable_breakdown": {
                "$ref": "#/components/schemas/seller_receivable_breakdown",
                "readOnly": true
              },
              "disbursement_mode": {
                "$ref": "#/components/schemas/disbursement_mode"
              },
              "links": {
                "$ref": "#/components/schemas/capture_definitions-link_description_list"
              },
              "processor_response": {
                "description": "An object that provides additional processor information for a direct credit card transaction.",
                "$ref": "#/components/schemas/processor_response"
              }
            }
          },
          {
            "$ref": "#/components/schemas/activity_timestamps"
          }
        ]
      },
      "capture_definitions-link_description_list": {
        "description": "An array of related [HATEOAS links](/docs/api/reference/api-responses/#hateoas-links).",
        "type": "array",
        "readOnly": true,
        "items": {
          "$ref": "#/components/schemas/link_description"
        }
      },
      "capture_list": {
        "type": "array",
        "description": "An array of captured payments for a purchase unit. A purchase unit can have zero or more captured payments.",
        "items": {
          "$ref": "#/components/schemas/capture"
        }
      },
      "capture_status": {
        "type": "object",
        "title": "Capture Status With Details",
        "description": "The status and status details of a captured payment.",
        "properties": {
          "status": {
            "title": "Capture Status",
            "description": "The status of the captured payment.",
            "type": "string",
            "readOnly": true,
            "enum": [
              "COMPLETED",
              "DECLINED",
              "PARTIALLY_REFUNDED",
              "PENDING",
              "REFUNDED",
              "FAILED"
            ],
            "x-enum-elements": [
              {
                "name": "COMPLETED",
                "description": "The funds for this captured payment were credited to the payee's PayPal account."
              },
              {
                "name": "DECLINED",
                "description": "The funds could not be captured."
              },
              {
                "name": "PARTIALLY_REFUNDED",
                "description": "An amount less than this captured payment's amount was partially refunded to the payer."
              },
              {
                "name": "PENDING",
                "description": "The funds for this captured payment was not yet credited to the payee's PayPal account. For more information, see status.details."
              },
              {
                "name": "REFUNDED",
                "description": "An amount greater than or equal to this captured payment's amount was refunded to the payer."
              },
              {
                "name": "FAILED",
                "description": "There was an error while capturing payment."
              }
            ]
          },
          "status_details": {
            "description": "The details of the captured payment status.",
            "readOnly": true,
            "$ref": "#/components/schemas/capture_status_details"
          }
        }
      },
      "capture_status_details": {
        "title": "Capture Status Details",
        "description": "The details of the captured payment status.",
        "type": "object",
        "properties": {
          "reason": {
            "title": "Capture Incomplete Reason",
            "description": "The reason why the captured payment status is `PENDING` or `DENIED`.",
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[A-Z_]+$",
            "enum": [
              "BUYER_COMPLAINT",
              "CHARGEBACK",
              "ECHECK",
              "INTERNATIONAL_WITHDRAWAL",
              "OTHER",
              "PENDING_REVIEW",
              "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION",
              "REFUNDED",
              "TRANSACTION_APPROVED_AWAITING_FUNDING",
              "UNILATERAL",
              "VERIFICATION_REQUIRED",
              "DECLINED_BY_RISK_FRAUD_FILTERS"
            ],
            "x-enum-elements": [
              {
                "name": "BUYER_COMPLAINT",
                "description": "The payer initiated a dispute for this captured payment with PayPal."
              },
              {
                "name": "CHARGEBACK",
                "description": "The captured funds were reversed in response to the payer disputing this captured payment with the issuer of the financial instrument used to pay for this captured payment."
              },
              {
                "name": "ECHECK",
                "description": "The payer paid by an eCheck that has not yet cleared."
              },
              {
                "name": "INTERNATIONAL_WITHDRAWAL",
                "description": "Visit your online account. In your **Account Overview**, accept and deny this payment."
              },
              {
                "name": "OTHER",
                "description": "No additional specific reason can be provided. For more information about this captured payment, visit your account online or contact PayPal."
              },
              {
                "name": "PENDING_REVIEW",
                "description": "The captured payment is pending manual review."
              },
              {
                "name": "RECEIVING_PREFERENCE_MANDATES_MANUAL_ACTION",
                "description": "The payee has not yet set up appropriate receiving preferences for their account. For more information about how to accept or deny this payment, visit your account online. This reason is typically offered in scenarios such as when the currency of the captured payment is different from the primary holding currency of the payee."
              },
              {
                "name": "REFUNDED",
                "description": "The captured funds were refunded."
              },
              {
                "name": "TRANSACTION_APPROVED_AWAITING_FUNDING",
                "description": "The payer must send the funds for this captured payment. This code generally appears for manual EFTs."
              },
              {
                "name": "UNILATERAL",
                "description": "The payee does not have a PayPal account."
              },
              {
                "name": "VERIFICATION_REQUIRED",
                "description": "The payee's PayPal account is not verified."
              },
              {
                "name": "DECLINED_BY_RISK_FRAUD_FILTERS",
                "description": "Risk Filter set by the payee failed for the transaction."
              }
            ]
          }
        }
      },
      "card_attributes": {
        "type": "object",
        "title": "Card Attributes",
        "description": "Additional attributes associated with the use of this card.",
[...]
